@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --main-bg-color: #F1F1F1;
    --bg-light-color: #FFFFFF;
    --bg-color: #bdc4ff;
    --accent-color: #03a9f4;
    --primary-bg-color: #003147;
    --primary-bg-dark-color: #081921;
    --text-color: #333;
    --text-gray-color: #848c90;
    --text-light-color: #fff;
    --text-header-color: #003147;
    --text-caption-color: #2a7da2;
}

body {
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loading {
    position: relative;
    display: block;
}


.loading-progress {
    width: 8rem;
    height: 8rem;
}

    .loading-progress circle {
        fill: none;
        stroke: var(--main-bg-color);
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: var(--primary-bg-color);
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    font-weight: bold;
    top: 52px;
    left: 48px;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

main {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: var(--main-bg-color);
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
    main {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}
